<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CPX-COOKIE</title>
    <script type="module" src="cpx-cookie.js"></script>
</head>
<body>
    <h1>CPX-COOKIE Demo</h1>
    <cpx-cookie action="set" key="user_data" parse="json" value="{name:'shadowman',account_id:'rh1234'}"></cpx-cookie>
    <cpx-cookie action="set" key="username" value="shadowman"></cpx-cookie>
    <cpx-cookie action="get" key="rhc_sso" parse="json" emit="token-ready"></cpx-cookie>
    <!-- <cpx-cookie action="set" key="user_data">
        <script type="data">
            {
                name: 'Shadowman',
                accountID: 'RedHat123'
            }
        </script>
    </cpx-cookie> -->
    <script>
        document.addEventListener('cookie-ready', e => {
            console.log("SET:", e.detail);
        })
        document.addEventListener('token-ready', e => {
            console.log("GET:", e.detail);
        })
    </script>
</body>
</html>
