<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDDL Auth Flow Test</title>
    <script src="https://sso.stage.redhat.com/auth/js/keycloak.js"></script>
    <script type="module" src="/cpx-keycloak/cpx-keycloak.js"></script>
    <script type="module" src="https://unpkg.com/@chapeaux/cpx-cookie/cpx-cookie.js"></script>
    <script type="module" src="https://unpkg.com/@chapeaux/cpx-user/cpx-user.js"></script>
    <!-- <script type="module" src="/cpx-cookie/cpx-cookie.js"></script> -->
    <!-- <script type="module" src="/cpx-user/cpx-user.js"></script> -->
    
    <script type="module" src="/cpx-newsdesk/newsdesk.js"></script>
    <script type="module" src="/cpx-reporter/reporter.js" data-event="Page Load Started">
        {
        "analyticsTitle": "Extracting information from Python source code",
        "blogAuthor": "Fridolin Pokorny",
        "breadCrumbs": "xxx",
        "pageCategory": "articles",
        "cms": "RHD CMS 8",
        "contentId": "269391",
        "contentType": "article",
        "dataObject": "digitalData",
        "destinationUrl": "https://dxp-developer.docksal/articles/2022/01/05/extracting-information-python-source-code",
        "errorType": "1234",
        "gated": "False",
        "queryParameters": "xxxx",
        "severityLevel": "xxx",
        "siteLanguage": "xx",
        "pageStatus": "xxx",
        "pageSubType": "xxx",
        "pageTitle": "Extracting information from Python source code | Red Hat Developer",
        "pageType": "xxx",
        "productCategory": "xxx",
        "productCertifiedVendor": "xx",
        "productComponents": "xxx",
        "productPublicationStatus": "xxx",
        "productSBR": "xxx",
        "productTags": "xxx",
        "products": "OpenShift, RHEL"
       }
    </script>
    <script type="module" src="/cpx-reporter/cpx-reporter.js"></script>
    <style>
        fieldset {
            margin-bottom: 1em;
        }
        ol {
            /* list-style: none; */
        }
        pre { overflow:hidden; }
    </style>
</head>
<body>
    <h1>Chapeaux Newsdesk Auth Demo</h1>
    <ol id="results"></ol>

    <cpx-user eddl>
        <cpx-cookie key="rhc_sso" parse="jwt" emit="token-ready"></cpx-cookie>
    </cpx-user>
    <cpx-reporter event="User Detected" beat="eddl-user-ready"></cpx-reporter>
    <cpx-reporter event="Page Load Completed" beat="eddl-user-detected"></cpx-reporter>
    <cpx-reporter event="Error Message Presented" beat="eddl-page-load-completed">
        <script type="data">
            {
                "errorCode": "404",
                "errorType": "Page not found"
            }
        </script>
    </cpx-reporter>
    
    <cpx-keycloak jwt-cookie="rhc_sso" options="{'clientId': 'rhd-web', 'flow': 'standard', 'realm': 'redhat-external', 'responseMode': 'fragment', 'url': 'https://sso.stage.redhat.com/auth', 'timeSkew': 0}" config="{'realm': 'redhat-external', 'ssl-required': 'external', 'public-client': true, 'token-store': 'cookie', 'token-cookie-path':'rhc_sso','clientId': 'rhd-web', 'url': 'https://sso.stage.redhat.com/auth'}"></cpx-keycloak>
    <script>
        const results = document.getElementById('results');
        top.addEventListener('newsflash', e => {
            const li = document.createElement('li');
            li.innerHTML = `<strong>${e.detail.event}</strong>
<pre>${JSON.stringify(e.detail,null,2)}</pre>`;
            results.appendChild(li);
            console.log('NEWSFLASH:', e.detail)
        });
    </script>
</body>
</html>
