<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SKIT SPAship Test</title>
    <script>
        top.addEventListener('newsflash', e=> {
            const result = document.querySelector(`pre[data-event="${e.detail.event}"]`);
            result.textContent = JSON.stringify(e.detail,null,2);
            console.log('NEWSFLASH:', e.detail)
        });
    </script>
    <script type="module" src="/cpx-newsdesk/newsdesk.js"></script>
    <script type="module" src="/cpx-newsdesk/newsdesk.js" data-event="cpx-report"></script>
    <script type="module" src="/cpx-reporter/reporter.js" data-emit="cpx-report" data-event="Page Load Started">
        {
        "analyticsTitle": "Extracting information from Python source code",
        "blogAuthor": "Fridolin Pokorny",
        "breadCrumbs": "xxx",
        "pageCategory": "articles",
        "cms": "RHD CMS 8",
        "contentId": "269391",
        "contentType": "article",
        "dataObject": "digitalData",
        "destinationUrl": "https://dxp-developer.docksal/articles/2022/01/05/extracting-information-python-source-code",
        "errorType": "1234",
        "gated": "False",
        "severityLevel": "xxx",
        "siteLanguage": "xx",
        "siteName":"cpx-test-site",
        "pageStatus": "xxx",
        "pageSubType": "xxx",
        "pageTitle": "Extracting information from Python source code",
        "pageType": "xxx",
        "productCategory": "xxx",
        "productCertifiedVendor": "xx",
        "productComponents": "xxx",
        "productPublicationStatus": "xxx",
        "productSBR": "xxx",
        "productTags": "xxx",
        "products": "OpenShift, RHEL"
       }
    </script>
    <script type="module" src="/cpx-reporter/cpx-reporter.js"></script>
    <script type="module" src="/cpx-user/cpx-user.js"></script>
    <script type="module" src="/cpx-cookie/cpx-cookie.js"></script>
    <script src="https://sso.stage.redhat.com/auth/js/keycloak.js"></script>
    <script type="module" src="/cpx-keycloak/cpx-keycloak.js"></script>
    
    <style>
        fieldset {
            margin-bottom: 1em;
        }
        ul {
            list-style: none;
        }
        pre { overflow:hidden; }
    </style>
</head>
<body>
    <h1>Chapeaux Newsdesk Demo</h1>
    <fieldset>
        <legend>Page Events</legend>
        <ul>
            <li>
                <details>
                    <summary>Error Message Presented</summary>
                    <pre data-event="Error Message Presented"></pre>
                </details>
                <cpx-reporter auto event="Error Message Presented">
                    <script type="data">{ 
                        "errorCode": "404", 
                        "errorType": "Not Found"
                    }</script>
                </cpx-reporter>
            </li>
            <li>
                <details>
                    <summary>Page Load Started</summary>
                    <pre data-event="Page Load Started"></pre>
                </details>
                <!-- <cpx-reporter emit="cpx-report" debug="verbose" auto event="Page Load Started">
                    <script type="data">
                    {
                    "pageCategory": "technologies",
                    "pageName": "{pageName}",
                    "pageTitle": "Red Hat Enterprise Linux operating system",
                    "analyticsTitle": "{Drupal analyticsTitle field}",        
                    "pageType": "pattern_template",
                    "pageSubType": "Product",
                    "siteExperience": "mobile",
                    "siteLanguage": "{siteLanguage}",
                    "subsection": "linux-platforms",
                    "subsection2": "enterprise-linux2",
                    "subsection3": "try-it",
                    "cms": "RH CMS 2020.14.0",
                    "analyticsTitle": "{Analytics Title field in Drupal}",
                    "blogAuthor": "{captures author of blog articles}",
                    "contentID": "545121",
                    "contentType": "E-book",
                    "destinationURL": "https://www.redhat.com/en/home-page",
                    "errorType": "404",
                    "gated": true,
                    "taxonomyMetaHreflang": ["29051"],
                    "taxonomyRegion": ["4521"],
                    "taxonomyBlogPostCategory": ["4261"],
                    "taxonomyBusinessChallenge":["161"],
                    "taxonomyProduct":["781"],
                    "taxonomyProductLine":["831"],
                    "taxonomySolution":["1071"],
                    "taxonomyTopic":["9011", "27061"],
                    "taxonomyAuthor":["1111"],
                    "taxonomyStage":["111"], 
                    "dataObject":"digitalData"
                    }
                    </script>
                </cpx-reporter> -->
            </li>
            <li>
                <details>
                    <summary>Page Load Completed</summary>
                    <pre data-event="Page Load Completed"></pre>
                </details>
                <cpx-reporter debug auto event="Page Load Completed"></cpx-reporter>
            </li>
        </ul>
        </fieldset>

        <fieldset>
        <legend>Form Events</legend>
        <ul>
            <li>
                <details>
                    <HTMLElement
                        "formID": "{formID}",
                        "formName": "{formName}",
                        "formType": "{formType}",
                        "formTemplate": "{formTemplate}",
                        "offerID": "{offerID}",
                        "formField": [
                            {
                            "fieldID": "{fieldID}",
                            "fieldPosition": "{fieldPosition}"
                            }
                        ]
                    }
                    </script>
                    <form></form>
                </cpx-reporter>
            </li>
            <li>
                <details>
                    <summary>Form Submission Succeeded</summary>
                    <pre data-event="Form Submission Succeeded"></pre>
                </details>
                <cpx-reporter auto event="Form Submission Succeeded">
                    <script type="data">
                    {
                        "formID": "{formID}",
                        "formName": "{formName}",
                        "formType": "{formType}",
                        "formTemplate": "{formTemplate}",
                        "offerID": "{offerID}"
                    }
                    </script>
                </cpx-reporter>
            </li>
            <li>
                <details>
                    <summary>Form Submission Failed</summary>
                    <pre data-event="Form Submission Failed"></pre>
                </details>
                <cpx-reporter auto event="Form Submission Failed">
                    <script type="data">
                    {
                        "formError": "{formError}",
                        "formField": [
                            {
                                "fieldID": "{fieldID}",
                                "fieldPosition": "{fieldPosition}",
                                "formFieldError": "{formFieldError}"
                            }
                        ],
                        "formName": "{formName}",
                        "formTemplate": "{formTemplate}",
                        "offerID": "{offerID}",
                        "formType": "{formType}"
                    }
                    </script>
                </cpx-reporter>
            </li>
        </fieldset>
        <fieldset>
            <legend>User Events</legend>
            <ul>
                <li>
                    <details>
                        <summary>User Detected</summary>
                        <pre data-event="User Detected"></pre>
                    </details>
                    <cpx-reporter event="User Detected" beat="eddl-user-ready">
                        <cpx-user eddl>
                            <cpx-cookie action="get" key="rhc_sso" parse="jwt" emit="token-ready"></cpx-cookie>
                        </cpx-user>
                    </cpx-reporter>
                    <!-- <cpx-reporter event="User Detected" beat="user-ready">
                        <cpx-user>
                            <script type="data">
                                {
                                    "exp": 1603803270,
                                    "iat": 1603802370,
                                    "auth_time": 1603802369,
                                    "jti": "{{GUID}}",
                                    "iss": "https://sso.redhat.com/auth/realms/redhat-external",
                                    "aud": "customer-portal",
                                    "sub": "f:{{GUID}}:{{USERNAME}}",
                                    "typ": "Bearer",
                                    "azp": "customer-portal",
                                    "nonce": "{{GUID}}",
                                    "session_state": "{{GUID}}",
                                    "acr": "1",
                                    "allowed-origins": [
                                     "https://prod.foo.redhat.com:1337",
                                     "https://www.redhat.com",
                                     "https://access.redhat.com"
                                    ],
                                    "realm_access": {
                                     "roles": [
                                      "authenticated",
                                      "candlepin_system_access_view_edit_personal",
                                      "idp_authenticated",
                                      "portal_manage_subscriptions",
                                      "errata:notification_status_enabled",
                                      "errata:notification:enhancement",
                                      "portal_manage_cases",
                                      "errata:notification:security",
                                      "errata:notification_level_system-visible",
                                      "errata:notification:bugfix",
                                      "offline_access",
                                      "uma_authorization",
                                      "portal_system_management",
                                      "cloud_access_1",
                                      "errata:notification_delivery_instant",
                                      "portal_download"
                                     ]
                                    },
                                    "resource_access": {
                                     "rhd-dm": {
                                      "roles": [
                                       "rhuser"
                                      ]
                                     },
                                     "account": {
                                      "roles": [
                                       "manage-account",
                                       "manage-account-links",
                                       "view-profile"
                                      ]
                                     }
                                    },
                                    "scope": "openid Legacy_IDP_OpenID",
                                    "REDHAT_LOGIN": "{{USERNAME}}",
                                    "lastName": "User",
                                    "country": "US",
                                    "account_number": "{{ACCT_NO}}",
                                    "preferred_username": "{{USERNAME}}",
                                    "firstName": "Test",
                                    "account_id": "{{ACCT_ID}}",
                                    "user_id": "{{USER_ID}}",
                                    "organization_id": "00Dm0000000116C",
                                    "siteId": "redhat",
                                    "siteID": "redhat",
                                    "portal_id": "06060000000D0af",
                                    "lang": "en_US",
                                    "region": "US",
                                    "email": "test123@test123.com",
                                    "RHAT_LOGIN": "{{USERNAME}}",
                                    "username": "{{USERNAME}}"
                                   }
                            </script>
                        </cpx-user>
                    </cpx-reporter> -->
                </li>
                <li>
                    <details>
                        <summary>User Signed In</summary>
                        <pre data-event="User Signed In"></pre>
                    </details>
                    <cpx-reporter event="User Signed In" beat="kc-token-ready">
                        <cpx-keycloak jwt-cookie="rhc_sso" options="{'clientId': 'rhd-web', 'flow': 'standard', 'realm': 'redhat-external', 'responseMode': 'fragment', 'url': 'https://sso.stage.redhat.com/auth', 'timeSkew': 0}" config="{'realm': 'redhat-external', 'ssl-required': 'external', 'public-client': true, 'token-store': 'cookie', 'token-cookie-path':'rhc_sso','clientId': 'rhd-web', 'url': 'https://sso.stage.redhat.com/auth'}"></cpx-keycloak>
                    </cpx-reporter>
                </li>
            </ul>
        </fieldset>
        <fieldset>
            <legend>Content Events</legend>
            <ul>
            <li>
                <details>
                    <summary>Content Listing Displayed</summary>
                    <pre data-event="Content Listing Displayed"></pre>
                </details>
                <cpx-reporter event="Content Listing Displayed"></cpx-reporter>
            </li>
        </ul>
        </fieldset>
        <fieldset>
            <legend>Download Events</legend>
            <ul>
                <li>
                    <details>
                        <summary>Download Started</summary>
                        <pre data-event="Download Started"></pre>
                    </details>
                    <cpx-reporter auto event="Download Started">
                        <script type="data">
                            {
                                "fileName": "thefilename.ext",
                                "fileType": "Extension Type",
                                "product": [{ "productInfo": { "name": "Cool Product", "productID": "cool-product-id", "sku": "beep-boop" }}]
                            }
                        </script>
                    </cpx-reporter>
                </li>
            </ul>
        </fieldset>
        <fieldset>
            <legend>Search Events</legend>
            <ul>
                <li>
                    <details>
                        <summary>Onsite Search Performed</summary>
                        <pre data-event="Onsite Search Performed"></pre>
                    </details>
                    <cpx-reporter auto event="Onsite Search Performed">
                        <script type="data">
                            {
                                "keyword": {
                                    "searchMethod": "manual",
                                    "searchTerm": "rhel",
                                    "searchType": "global_search"
                                }
                            }
                        </script>
                    </cpx-reporter>
                </li>
            </ul>
        </fieldset>
        <fieldset>
            <legend>Unknown Events</legend>
            <ul>
                <li>
                    <details>
                        <summary>Unknown Event Tracked</summary>
                        <pre data-event="Unknown Event Tracked"></pre>
                    </details>
                    <cpx-reporter auto event="Unknown Event Tracked">
                        <script type="data">
                            {
                                "arbitrary": "value",
                                "truthy": false,
                                "deep": [{ "unknownInfo": { "unknownname": "Nothing Important", "unknownID": "unknown-id", "misc": "beep-boop" }}]
                            }
                        </script>
                    </cpx-reporter>
                </li>
            </ul>
        </fieldset>
    <!-- <cpx-reporter beat="click" event="Content Listing Item Clicked">
        <ul>
            <li>
                <a class="unav__link" href="/en/products/open-hybrid-cloud" data-analytics-category="Featured Links" data-analytics-text="Open hybrid cloud">Open hybrid cloud</a>
            </li>               
        </ul>
    </cpx-reporter> -->
</body>
</html>