<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chapeaux Query Component</title>
</head>
<body>
    <cpx-query auto url="https://blog.kie.org/wp-json/wp/v2/posts">
        <template>
            <article data-repeat>
                <section>
                    <ul>
                        <li>${id}</li>
                        <li>${date}</li>
                        <li>${excerpt['rendered']}</li>
                    </ul>
                </section>
            </article>
        </template>
    </cpx-query>
    <script type="module" src="/cpx-query/cpx-query.js"></script>
    <script>
        


    </script>
</body>
</html>