<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chapeaux Query Component</title>
    <style>:root { --linkBlue: #369; }</style>
</head>
<body>
    <cpx-query auto url="data.json">
        <template>
            <style>
            section { 
                display: grid; gap: 1em; grid-template-columns: repeat(4,1fr); 
            }
            ul {background: #eee;}
            </style>
            <section data-repeat>
                <ul>
                    <li>${Title}</li>
                    <li>${Year}</li>
                </ul>
            </section>
        </template>
    </cpx-query>
    <script type="module" src="/cpx-query/cpx-query.js"></script>
</body>
</html>