<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <h1>Component Demos:</h1>
  <ul>
    <li><a href="/cpx-auth/demo">cpx-auth</a></li>
    <li><a href="/cpx-blank/demo">cpx-blank</a></li>
    <li><a href="/cpx-cookie/demo">cpx-cookie</a></li>
    <li><a href="/cpx-filter/demo">cpx-filter</a></li>
    <li><a href="/cpx-keycloak/demo">cpx-keycloak</a></li>
    <li><a href="/cpx-newsdesk/demo">cpx-newsdesk</a></li>
    <li><a href="/cpx-operator-graph/demo">cpx-operator-graph</a></li>
    <li><a href="/cpx-query/demo">cpx-query</a></li>
    <li><a href="/cpx-reporter/demo">cpx-reporter</a></li>
    <li><a href="/cpx-result/demo">cpx-result</a></li>
    <li>cpx-state (no demo)</li>
    <li><a href="/cpx-tab-stream/demo">cpx-tab-stream</a></li>
    <li>cpx-target (no demo)</li>
    <li><a href="/cpx-url/demo">cpx-url</a></li>
    <li><a href="/cpx-user/demo">cpx-user</a></li>
    <li><a href="/cpx-websocket/demo">cpx-websocket</a></li>
  </ul>
</body>
</html>
