<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chapeaux Components</title>
</head>
<body>
    <h1>Chapeaux Components</h1>
    <ul>
        <li><a href="cpx-user/demo">CPX User</a></li>
        <li><a href="cpx-websocket/demo">CPX WebSocket</a></li>
        <li><a href="cpx-operator-graph/demo">CPX Operator Graph</a></li>
        <li><a href="cpx-query/demo">CPX Query</a></li>
        <li><a href="cpx-filter/demo">CPX Filter</a></li>
    </ul>
</body>
</html>